// Variables
$ma-speed: 300ms !default;
$ma-menu-selector: '[data-menu-animation]' !default;
$ma-menu-fx-class: ma-fx !default;
$ma-initiated-class: ma-initiated !default;
$ma-fx-will-change: transform, width !default;
$ma-fx-transition: transform $ma-speed ease-in-out, width $ma-speed ease-in-out !default;

#{$ma-menu-selector} {
  position: relative; // For the FX unit

  li {
    position: relative; // To be on top of the FX unit
    z-index: 1; // To be on top of the FX unit
  }
}

.#{$ma-menu-fx-class} {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  will-change: $ma-fx-will-change;
}

.#{$ma-initiated-class} {
  .#{$ma-menu-fx-class} {
    transition: $ma-fx-transition;
  }
}
